<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [19]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [20]:
# To-Do:  load the data 
df = pd.read_csv("clean_HepatitisC.csv")
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,0,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,0,32,0,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,0,32,0,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,0,32,0,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,0,32,0,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [21]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
# The target here is the Category column 
# Do not forget to split your data (this is a classification task)
# test set size should be 20% of the data 

df1 = df.drop(columns=["ID","cluster"])
y = df1["Category"]
x = df1.drop(columns="Category")

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=50)

## 2. Building the model and training and evaluate the performance:

In [22]:
# To-do build the model and train it 
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance 

model = RandomForestClassifier(criterion = "entropy" ,n_estimators = 50 , max_features = 12 , max_leaf_nodes = 5 , 
                               bootstrap = True , min_samples_split = 4 ,class_weight = "balanced",
                               min_samples_leaf = 2 , n_jobs = -1 , max_samples = 124 , random_state = 16180)

model.fit(x, y) 

# gini gives poor results when it comes to Hepatitis and Fibrosis class due to the small size of elements in the its training set 
# max_features was set to the number of features we have 
# max_leaf_nodes was set to the number of classes we have since the max number of samples in each tree was set to 124 > max size of any class in the training set
# class_weight = balanced because 86% of the whole dataset is of class 0

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_features=12, max_leaf_nodes=5, max_samples=124,
                       min_samples_leaf=2, min_samples_split=4, n_estimators=50,
                       n_jobs=-1, random_state=16180)

In [23]:
y_hat = model.predict(x_test)

In [24]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
from sklearn.metrics import precision_score, accuracy_score

#classification_report
print("Precision score :%.4f\n"%precision_score(y_test,y_hat,average="weighted"))
print("the accuracy : %.4f "%accuracy_score(y_test,y_hat))

Precision score :0.9332

the accuracy : 0.9268

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [25]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well  
test_df = train_test_split(df.drop(columns="Category"),y,test_size=0.2, random_state=50)[1]
test_df["Category"] = y_test

In [26]:
test_df.head()

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Category
18,19,33,0,36.6,57.1,38.9,40.3,24.9,9.62,5.50,112.0,27.6,69.3,3,0
175,176,48,0,46.2,59.9,14.6,25.7,5.3,6.93,6.29,66.0,23.4,75.8,3,0
287,288,62,0,46.6,98.0,36.7,29.4,7.0,7.56,5.52,70.0,23.1,86.5,3,0
409,410,46,1,39.9,71.3,15.4,29.5,4.6,5.95,6.94,72.0,13.4,69.5,3,0
302,303,65,0,43.6,104.0,32.3,34.2,7.7,8.23,4.69,89.0,20.8,75.5,3,0

In [27]:
# To-Do : Add the predicted_class column 
test_df["Predicted_class"] = y_hat

In [28]:
test_df.head()

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Category,Predicted_class
18,19,33,0,36.6,57.1,38.9,40.3,24.9,9.62,5.50,112.0,27.6,69.3,3,0,0
175,176,48,0,46.2,59.9,14.6,25.7,5.3,6.93,6.29,66.0,23.4,75.8,3,0,0
287,288,62,0,46.6,98.0,36.7,29.4,7.0,7.56,5.52,70.0,23.1,86.5,3,0,0
409,410,46,1,39.9,71.3,15.4,29.5,4.6,5.95,6.94,72.0,13.4,69.5,3,0,0
302,303,65,0,43.6,104.0,32.3,34.2,7.7,8.23,4.69,89.0,20.8,75.5,3,0,0

> Make sure you have 16 column in this test set

In [29]:
test_df.shape[1]

16

In [31]:
# Save the test set 
test_df.to_csv("test_summary.csv",index=False)